.stack {
  width: 100%; }
  .stack .stack__radio-control {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    margin: 0px;
    padding: 0px; }
  .stack .stack__item {
    background-color: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative; }
  .stack .stack__figure {
    margin: 0; }
  .stack .stack__img {
    width: 100%; }
  .stack .stack__caption {
    display: block; }
  .stack .stack__title {
    padding-bottom: 5px;
    border-bottom: 1px solid #dddddd;
    margin: 10px 0; }
  .stack .stack__link {
    background-color: transparent;
    display: block;
    text-align: right; }
  .stack .stack__nav {
    display: none; }
